<div class="home">
<img src="https://www.sishop.com.au/images/blog/core/_Normann_Copenhagen.jpg">
<header class="home-header">
  <h1>PopUp Anywhere</h1>
</header>

<header class="home-subheader">
  <h4>Rent unique commercial spaces for your pop-up shop</h4>
</header>

</div>

<div class="icons">

  <span class="row">
    <a href="#/search?query=San Francisco" class="long no-op" id="first">
      <div class="title">San Francisco</div>
      <img src="<%= sfImg %>">
    </a>
    <a href='#/search?query=Paris' class="no-op">
      <div class="title">Paris</div>
      <img src="<%= parisImg %>">
    </a>
  </span>

  <span class="row">
    <a href='#/search?query=New York City' class="no-op" id="first">
      <div class="title">New York</div>
      <img src="<%= nycImg %>">
    </a>
    <a href='#/search?query=Amsterdam' class="no-op">
      <div class="title">Amsterdam</div>
      <img src="<%= amstImg %>">
    </a>
    <a href='#/search?query=Rome' class="no-op">
      <div class="title">Rome</div>
      <img src="<%= romeImg %>">
    </a>
  </span>

  <span class="row" id="last-row">
    <a href='#/search?query=Los Angeles' class="no-op" id="first">
      <div class="title">Los Angeles</div>
      <img src="<%= laImg %>">
    </a>
    <a href='#/search?query=London' class="long no-op">
      <div class="title">London</div>
      <img src="<%= londImg %>">
    </a>
  <span class="row">

</div>
