<% if (user.get('fname')) { %>
  <h2 class="user-name"><%= user.escape('fname') %> <%= user.escape('lname') %></h2>
<% } else { %>
  <h2 class="user-name"><%= user.escape('email') %></h2>
<% } %>


<div class="user-show group">
  <div class="users-shops">
    <h3 class="owned-shops-header">
      Owned Shops
    </h3>
    <% shops.forEach( function (shop){ %>
      <div class="shop-info">
        <a href="#/shops/<%= shop.id %>">
          <%= shop.get('address') %>, <%= shop.get('city') %>
        </a>
      </div>
    <% }) %>
  </div>

  <% if (ShopUp.currentUser.id === user.id) { %>
    <div class="users-res-reqs">
      <h3 class="res-req-header">
        Your Requested Reservations
      </h3>
      <% user.reservationRequests().forEach( function (res) { %>
        <div class="res-req-info">
        <%= res.get('shop_id') %>
          <div class="res-dates">
            <%= res.get('start_day') %> - <%= res.get('end_day') %>
          </div>
        </div>
      <% }) %>
    </div>

    <div class="user-pen-res">
      <h3 class="pen-res-header">
        Your Pending Reservations
      </h3>
      <% user.pendingReservations().forEach( function (res) { %>
        <% if (res.get('approved') === false) { %>
        <a href="#/shops/<%= res.get('shop_id') %>">
          <div class="pen-res-info">
            <%= res.get('shop_id') %>
          </div>
          <div class="res-dates">
            <%= res.get('start_day') %> - <%= res.get('end_day') %>
          </div>
        </a>
        <% } %>
      <% }) %>
    </div>

    <div class="user-appr-res">
      <h3 class="appr-res-header">
        Your Approved Reservations
      </h3>
      <% user.pendingReservations().forEach( function (res) { %>
        <% if (res.get('approved') === true) { %>
          <div class="pen-res-info">
            <%= res.get('shop_id') %>
          </div>
          <div class="res-dates">
            <%= res.get('start_day') %> - <%= res.get('end_day') %>
          </div>
        <% } %>
      <% }) %>
    </div>


  <% } %>
