<% if (user.get('fname')) { %>
  <h2><%= user.escape('fname') %> <%= user.escape('lname') %></h2>
<% } else { %>
  <h2><%= user.escape('email') %></h2>
<% } %>
<% user.shops().forEach( function (shop){ %>
<p>
  <a href="#/shops/<%= shop.id %>">
    <%= shop.get('address') %>, <%= shop.get('city') %>
  </a>
</p>
<% }) %>
