<div class='shop-list'>
<% shops.forEach( function(shop) { %>
<p>
  <a href="#/shops/<%= shop.get('id') %>">
<%= shop.escape('address') %>, <%= shop.escape('city') %>
</a>
<br>
<%= shop.escape('size') %> square feet, $<%= shop.escape('price') %>/day
</p>
<div class="index-img">
  <img src="<%= shop.get('image_url') %>">
</div>
<br>
<br>

<% }); %>
</div>
