<% shops.forEach( function(shop) { %>
<p>
  <a href="#/shops/<%= shop.id %>">
<%= shop.escape('address') %>, <%= shop.escape('city') %>
</a>
<br>
<%= shop.escape('size') %> square feet, $<%= shop.escape('price') %>/day
</p>
<div class="index-img">
  <%= shop.get('image_url') %>
  <img src="<%= shop.get('image_url') %>">
</div>
<br>
<br>

<% }); %>
