<div class="info">
<p>
  <%= shop.escape('address') %>, <%= shop.escape('city') %>
  <br>
  <%= shop.escape('size') %> square feet, $<%= shop.escape('price') %>/day
</p>
  <div class="shop-img">
    <img src="<%= shop.escape('image_url') %>">
  </div>
</div>
<br>
<p>
  <% if (shop.get('owner_id') === ShopUp.currentUser.get('id')) { %>

    <% shop.reservations().forEach( function(res) { %>
      <p>
        <% var renter = res.get('renter_id') %>

        <%= res.escape('start_day') %> - <%= res.escape('end_day') %>
        <br>
        <%= renter %>
        <br>
        Approved: <%= res.escape('approved') %>
        <br>

        <% if (res.get('approved')) { %>

          <button class="reject" data-id="<%= res.escape('id') %>">
            Reject Request
          </button>

        <% } else { %>

          <button class="approve" data-id="<%= res.escape('id') %>">
            Approve Request
          </button>

        <% } %>

        <button class="delete-request" data-id="<%= res.escape('id') %>">
          Delete Request
        </button>

        <br>
        <br>

      </p>

    <% }) %>

  <% } else if (ShopUp.currentUser.id) { %>
    <h3>Pending Reservations</h3>
   <% shop.reservations().forEach( function (res) { %>
     <% if (ShopUp.currentUser.get('id') === res.get('renter_id')) { %>
       <%= res.escape('start_day') %> - <%= res.escape('end_day') %>
       <br>
       Approved: <%= res.escape('approved') %>
       <br><br>
     <% } %>
   <% }) %>
   <p>



    <p>Start Date: <input type="text" id="datepicker3"></p>

    <p>End Date: <input type="text" id="datepicker4"></p>

    <button class="request-button">
      Request Reservation
    </button>
  </p>
  <%  } %>

<h2>Reviews</h2>

<% if (ShopUp.currentUser.id !== shop.get('owner_id')) { %>

  <div class='review-button'>
    <button class="write-review">Write a Review</button>
  </div>
    <div class="review-form-insert"></div>

<% } %>

<% shop.reviews().forEach( function(review) { %>

  <%= review.get('title') %>
  <br>
  <%= review.get('body') %>
  <br>
  <a href="#/users/<%= review.get('user_id') %>">
    <%= review.get('username') %>
  </a>
  <br>
  <% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
  <%= months[parseInt(review.get('created_at').slice(5,7)) - 1] %>
  <%= review.get('created_at').slice(8,10) %>
  <br>

  <br><br>

<% }) %>


</p>
