<div class="info">
<p>
  <%= shop.escape('address') %>, <%= shop.escape('city') %>
  <br>
  <%= shop.escape('size') %> square feet, $<%= shop.escape('price') %>/day
</p>
<br>
<p>
  <% shop.reservations().forEach( function(res) { %>

  <%= res.escape('start_day') %> - <%= res.escape('end_day') %>
  <br>
  Approved: <%= res.escape('approved') %>
  <br>
  <br>

  <% }) %>
</p>
</div>


<button class="request-button">
  Request Reservation
</button>


<p>Start Date: <input type="text" id="datepicker"></p>

<p>End Date: <input type="text" id="datepicker2"></p>
