<div class="shop-show group">

  <div class="shop-img">
    <img src="<%= shop.escape('image_url') %>">
  </div>
  <span id="shop-show-price">
    $<%= shop.escape('price') %>/day
  </span>
  <span id="shop-show-size">
    <%= shop.escape('size') %> square feet
  </span>

<span class="left-shop group">
  <div class="shop-info">
    <div class="shop-show-address">
      <%= shop.escape('address') %>, <%= shop.escape('city') %>
    </div>
    <div class="shop-show-desc">
      <%= shop.escape('description') %>
    </div>
  </div>
  <!-- <br><br><br><br><br><br><br><br><br><br> -->

  <div class="review-info">
  <h3>Reviews</h3>

  <% shop.reviews().forEach( function(review) { %>
    <div class="review group">
      <a href="#/users/<%= review.get('user_id') %>">
        <b><%= review.get('username') %> <%= review.get('lname') %></b>
      </a>
      <div class="review-date">
        <% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
        <%= months[parseInt(review.get('created_at').slice(5,7)) - 1] %>
        <%= review.get('created_at').slice(8,10) %>
      </div>
      <p>
        <%= review.get('title') %>
        <br>
        <%= review.get('body') %>
      </p>

    </div>

    <% }) %>
    <% if (ShopUp.currentUser.id !== shop.get('owner_id')) { %>

      <div class='review-button'>
        <button class="write-review">Write a Review</button>
      </div>
        <div class="review-form-insert"></div>

    <% } %>


  </div>
</span>




<span class="right-shop group">
  <% if (shop.get('owner_id') === ShopUp.currentUser.get('id')) { %>

    <div class="request-info">
      <h3 class="res-header">
        Requests
      </h3>

    <% shop.reservations().forEach( function(res) { %>
      <div class="request-yo">
      <div class="req-name-date">
      <a href="#/users/<%=res.get('renter_id') %>">
        <b><%= res.get('renter_name') %> <%= res.get('renter_lname') %></b>
      </a>
      <br>
        <% var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>

        <% var start_month = months[parseInt(res.escape('start_day').slice(6,8)) - 1] %>
        <% var end_month = months[parseInt(res.escape('end_day').slice(6,8)) - 1] %>

        <%= start_month %> <%= parseInt(res.escape('start_day').slice(8,10)) %>, <%= res.escape('start_day').slice(0,4) %>
        -
        <%= end_month %> <%= parseInt(res.escape('end_day').slice(8,10)) %>, <%= res.escape('end_day').slice(0,4) %>
      </div>

        <div class="approval">
          <% if (res.get('approved')) { %>
            Approved
          <% } else { %>
            Pending
          <% } %>
        </div>

        <div class="res-buttons group">
        <% if (res.get('approved')) { %>
          <button class="reject" data-id="<%= res.get('id') %>">
            Reject Request
          </button>
        <% } else { %>
          <button class="approve" data-id="<%= res.get('id') %>">
            Approve Request
          </button>
        <% } %>
        <button class="delete-request" data-id="<%= res.escape('id') %>">
          Delete Request
        </button>
      </div>
    </div>

    <% }) %>
  </div>



  <% } else if (ShopUp.currentUser.id) { %>
    <div class="request-info group">
      <h3 class="res-header">Your Reservation Requests</h3>
      <% var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
        <% shop.reservations().forEach( function (res) { %>

          <% if (ShopUp.currentUser.get('id') === res.get('renter_id')) { %>

          <div class="req-info group">
            <div class="res-dates">

              <% var start_month = months[parseInt(res.escape('start_day').slice(6,8)) - 1] %>
              <% var end_month = months[parseInt(res.escape('end_day').slice(6,8)) - 1] %>

              <%= start_month %> <%= parseInt(res.escape('start_day').slice(8,10)) %>, <%= res.escape('start_day').slice(0,4) %>
               -
              <%= end_month %> <%= parseInt(res.escape('end_day').slice(8,10)) %>, <%= res.escape('end_day').slice(0,4) %>

            </div>
            <div class="approval-status">
              <% if (res.escape('approved') === true) { %>
                Approved
              <% } else { %>
                Pending Approval
              <% } %>
            </div>
            <span class="delete-yours">
              <button class="delete-request" data-id="<%= res.escape('id') %>">
                Delete Request
              </button>
            </span>
          </div>

          <% } %>
        <% }); %>
        <div class="request-dates group">
          <input type="text" id="datepicker3" placeholder="From">
          <input type="text" id="datepicker4" placeholder="Until">
  </div>
    <button class="request-button">
      Request Reservation
    </button>
    </div>
  <%  } %>

</span>
</div>
