<div class="info">
<p>
  <%= shop.escape('address') %>, <%= shop.escape('city') %>
  <br>
  <%= shop.escape('size') %> square feet, $<%= shop.escape('price') %>/day
</p>
<br>
<p>
  <% shop.reservations().forEach( function(res) { %>

  <%= res.escape('start_day') %> - <%= res.escape('end_day') %>
  <br>
  Approved: <%= res.escape('approved') %>
  <br>
  <br>

  <% }) %>
</p>
</div>

<div class="request">

  <button class="request-button">
    Request Reservation
  </button>
</div>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<body>

<p>Start Date: <input type="text" id="datepicker"></p>
</body>
</html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
  $(function() {
    $( "#datepicker2" ).datepicker();
  });
  </script>
</head>
<body>

<p>End Date: <input type="text" id="datepicker2"></p>
</body>
</html>
