<!DOCTYPE html>
<html>
<head>
  <title>ShopUp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


  <meta charset="utf-8">

</head>
<body class="body">

<%= yield %>

<div class="content">
</div>
<script>
  var sfImg = "<%= asset_path('SF.jpg') %>";
  var parisImg = "<%= asset_path('paris.jpg') %>";
  var nycImg = "<%= asset_path('nyc.jpg') %>";
  var amstImg = "<%= asset_path('amsterdam.jpg') %>";
  var romeImg = "<%= asset_path('rome.jpg') %>";
  var laImg = "<%= asset_path('LA.jpg') %>";
  var londImg = "<%= asset_path('london.jpg') %>";
</script>

</body>
</html>
