<!DOCTYPE html>
<html>
<head>
  <title>ShopUp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/demos/style.css">


</head>
<body class="body">

<div class="nav-bar">
  <a href="/#">
  <img src="http://i.imgur.com/v7CU8Yz.png" class="logo">
</a>

  <% if !logged_in? %>
  <nav class="login-links">

      <a href="/#/login" class="login">
        Login
      </a>

      <a href="/#/signup" class="signup">
        Create Account
      </a>

  </nav>
  <% else %>
  <a href="/#/users/<%=current_user.id %>">
    <% if current_user.fname.blank? %>
      <%= current_user.email %>
    <% else %>
      <%= current_user.fname %>
    <% end %>
  </a>
    <button class="logout">Log Out</button>
  <% end %>

</div>

<%= yield %>

<div class="content">

</div>

<form action="/#/shops" method="GET">
	<button>
		Shops Index
	</button>
</form>
</body>
</html>
